<table class="CarritoCompras">
    <div>
        <tr>
            {{#if prodsEnCarrito.length}}
            {{#each prodsEnCarrito}}
            <td>{{this.id}}</td>
            <td><img height="60px" width="60px" src={{this.thumbnail}} /> {{this.title}}</td>
            <td>{{this.description}}</td>
            <td>$<span>{{this.price}}</span></td>
            <td>{{this.stock}}</td>
            <td>{{this.cantidad}}
                {{!--* id="disminuir || aumentar" --}}
                <button class="botonCantidad disminuir"> - </button>
                <span id="contador" min="0" pattern="^[0-9]+"> 0 </span>
                <button class="botonCantidad aumentar"> + </button>
            </td>
            {{/each}}
            {{/if}}
            {{#unless prodsEnCarrito}}
        <tr>
            <th scope="row" colspan="5">¡Carrito vacio! - Agrega productos desde la pagina de productos</th>
        </tr>
        {{/unless}}
        {{#if totalProds.length}}
        <td>{{totalProds}}</td>
        {{/if}}
        {{#if totalPrecio.length}}
        <td>$<span>{{totalPrecio}}</span></td>
        {{/if}}
        <td>
            <button class="btn btn-primary btn-sm" id="eliminar-prodEnCart" dataset="{{this.id}}">
                X
            </button>
        </td>
        </tr>
    </div>
</table>

<style>
    table,
    th,
    td {
        border: 0.5px solid;
    }

    .titulo {
        text-align: center;
    }

    .listaProds {
        width: 100%;
    }
</style>

{{!-- disminuir --}}
{{!-- class="btn btn-danger btn-sm" --}}

{{!-- aumentar --}}
{{!-- class="btn btn-info btn-sm" --}}




<table class="CarritoCompras">
    <div>
        <tr>
            {{#if prodsEnCarrito.length}}
            {{#each productos}}
            <td>{{this.id}}</td>
            <td><img height="60px" width="60px" src={{this.thumbnail}} /> {{this.title}}</td>
            <td>{{this.description}}</td>
            <td>$<span>{{this.price}}</span></td>
            <td>{{this.stock}}</td>
            <td>{{this.cantidad}}
                {{!--* id="disminuir || aumentar" --}}
                <button class="botonCantidad disminuir"> - </button>
                <span id="contador" min="0" pattern="^[0-9]+"> 0 </span>
                <button class="botonCantidad aumentar"> + </button>
            </td>
            {{/each}}
            {{/if}}
            {{#if totalProds.length}}
            <td>{{totalProds}}</td>
            {{/if}}
            {{#if totalPrecio.length}}
            <td>$<span>{{totalPrecio}}</span></td>
            {{/if}}
            <td>
                <button class="btn btn-primary btn-sm" id="eliminar-prodEnCart" dataset="{{this.id}}">
                    X
                </button>
            </td>
        </tr>
        {{#unless prodsEnCarrito}}
        <tr>
            <th scope="row" colspan="5">¡Carrito vacio! - Agrega productos desde la pagina de productos</th>
        </tr>
        {{/unless}}
    </div>
</table>