<div class="Mensajeria">
    <div id="contenedorMensajes">

        {{!-- {{#if datosDesnormalizados.length}}
        {{#each datosDesnormalizados}} --}}

        {{#if mensajes.length}}

        {{#each autor}}
        <p>{{ this.autor.usuario }}</p>
        <p>{{ this.autor.alias }}</p>
        <p>{{ this.autor.avatar }}</p>
        <img src="{{this.autor.avatar}}">
        {{/each}}

        <p>{{ this.tipo }}</p>
        <p>{{ this.timestamp }}</p>

        {{#if texto.length}}
        <p>{{ this.texto }}</p>
        {{/if}}
    </div>

    <div id="contenedorCompresion">
        {{#if comprencionTotal.length}}
        <p>% {{ comprencionTotal }}</p>
        {{/if}}
    </div>
</div>

<style>
    .titulo {
        text-align: center;
    }

    .Mensajeria {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>