<div>
    <h2 class="titulo">Listado de Productos</h2>
    <div class="col-lg-4 mb-4 aling-items-stretch">
        <div class="card h-100">
            {{#if productos.length}}
            {{#each productos}}
            <div class="card-body">
                <p>{{this.id}}</p>
                <img height="60px" width="60px" src={{this.imagen}} />
                <h5>{{this.titulo}}</h5>
                <p>$<span>{{this.precio}}</span></p>
                <h6>{{this.description}}</h6>
                <p>{{this.code}}</p>
                <p>{{this.stock}}</p>
                <p>{{this.cantidad}}</p>
                <button class="btn btn-primary btn-sm" id="añadir-prodAlCart" dataset="{{this.id}}">
                    Añadir al carrito
                </button>
            </div>
            {{/each}}
            {{/if}}
            {{#unless productos}}
            <h3 class="titulo">¡No se encontro ningun producto!</h3>
            {{/unless}}
        </div>
    </div>
</div>

<style>
    .titulo {
        text-align: center;
    }

    .producto {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>