<div>
    <h2 class="titulo">Listado de Productos</h2>
    <template id="template-card">
        <div class="col-lg-4 mb-4 aling-items-stretch">
            <div class="card h-100">
                {{#if productos.length}}
                {{#each productos}}
                <img height="60px" width="60px" src={{this.imagen}} />
                <div class="card-body">
                    <h5>{{this.titulo}}</h5>
                    <p>{{this.id}}</p>
                    <p>$ {{this.precio}}</p>
                    <h6>{{this.description}}</h6>
                    <p>{{this.stock}}</p>
                    <p>{{this.code}}</p>
                    {{!-- <p>{{this.cantidad}}</p> --}}
                    <button class="btn btn-dark"> Agregar al carrito </button>
                </div>
                {{/each}}
                {{/if}}
                {{#unless productos}}
                <h3 class="titulo">¡No se encontro ningun producto!</h3>
                {{/unless}}
            </div>
        </div>
    </template>
</div>

<style>
    .titulo {
        text-align: center;
    }

    .producto {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>




{{!--
<div>
    <h2 class="titulo">Tabla de Productos</h2>
    <table class="tablaProductos">
        <tr>
            <th>Título</th>
            <th>id</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>Descripción</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Código</th>
        </tr>
        {{#if productos.length}}
        {{#each productos}}
        <tr>
            <td>{{this.titulo}}</td>
            <td>{{this.id}}</td>
            <td>$ {{this.precio}}</td>
            <td><img height="60px" width="60px" src={{this.imagen}} /></td>
            <td>{{this.description}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.cantidad}}</td>
            <td>{{this.code}}</td>
        </tr>
        {{/each}}
        {{/if}}
        {{#unless productos}}
        <h3 class="titulo">No se encontro ningun producto!!</h3>
        {{/unless}}
    </table>
</div> --}}