<div>
    <h2> PAGINA CARRITO </h2>
    <div>
        <h1>Mi Carrito: </h1>
        <table>
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio unitario</th>
                    <th scope="col">Cantidad total de productos</th>
                    <th scope="col">Valor total carrito</th>
                    <th scope="col">Eliminar Producto</th>
                </tr>
            </thead>
            <tbody class="contenedorCarrito"></tbody>
            <tfoot>
                <td>
                    <button class="btn btn-danger btn-sm" id="vaciar-carrito" dataset="{{carritoID}}">Vaciar
                        carrito</button>
                    <button class="btn btn-primary btn-sm" id="comprar-carrito" dataset="{{carritoID}}">Comprar
                        carrito</button>
                </td>
            </tfoot>
        </table>

        {{!--* Boton en vista
        <div>
            <button class="boton disminuir"> - </button>
            <span id="contador" min="0" pattern="^[0-9]+"> 0 </span>
            <button class="boton aumentar"> + </button>
        </div> --}}
        {{!--* template footer --}}
        {{!-- <template id="template-footer">
            <tr>
                <th scope="row" colspan="2">Total de productos</th>
                <th scope="row" colspan="2">Precio total</th>
            </tr>
            <td>{{totalProds}}</td>
            <td class="font-weight-bold">$<span>{{totalPrecio}}</span></td>
            <td>
                <button class="btn btn-danger btn-sm" id="vaciar-carrito">Vaciar carrito</button>
                <button class="btn btn-primary btn-sm">Comprar carrito</button>
            </td>
        </template> --}}
    </div>
    <div>
        <br>
        <button class="btn btn-secondary" onclick="location.href='/api/productos/vista/'">
            Ir a pagina de productos
        </button>
    </div>
</div>





{{!-- <div>
    <h2> PAGINA CARRITO </h2>
    <div>
        <div>
            <h1>Mi Carrito: </h1>
            <ul>
                {{#if datosCarrito}}
                <li>{{datosCarrito}}</li>
                {{!-- {{#each datosCarrito}}
                <li>{{this}}</li>
                {{/each}}
                {{/if}}
            </ul>
        </div>
        <div>
            <h1>listado de los productos del carrito: </h1>
            <ul>
                {{#if todosProductos}}
                {{#each todosProductos}}
                <li>{{this}}</li>
                {{/each}}
                {{/if}}
            </ul>
        </div>
        <button>agregar producto al carrito</button> ir ruta guardarprodCart
        <button>eliminar producto el carrito</button> ir ruta eliminarprodCarritoXid
        <button>eliminar todos los productos del carrito</button> ir ruta eliminartodoscarrito
        <button>obtener solo productos del carrito</button> ir ruta obtenertodosprodscarrito
        <br>
        <div>
            <h3 class="titulo">Productos disponibles:</h3>
            <div class="nuevoProducto" id="contenedorProductos"></div>
        </div>
        <br>
        <div>
            <h3 class="titulo">Buscar un producto por su categoria:</h3>
            <button class="btn btn-secondary" onclick="location.href='/api/productos/:categoria'">
                Guardar un producto al carrito
            </button>
            <div class="productoCategoria" id="contenedorProdsCategoria">
                <ul>
                    {{#if prodXcategoria}}
                    {{#each prodXcategoria}}
                    <li>{{this}}</li>
                    {{/each}}
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
    <div>
        {{!-- (id productos x body) --}}
        <button class="btn btn-secondary" onclick="location.href='/api/carrito/${carritoID}'">
            Guardar un producto al carrito
        </button>
        <br>
        <button class="btn btn-secondary" onclick="location.href='/api/carrito/compra/{{carritoID}}'">
            Procesar pedido de compra
        </button>
    </div>
</div>
--}}