<div>
    <h2> PAGINA INICIO </h2>
    <br>
    <div class="usuario">
        <h3 class="alert alert-info" role="alert">¡Bienvenido {{nombre}} {{apellido}}, estas registrado con el email:
            {{email}}, ¡Esperamos que disfrutes de tu estadía en nuestra pagina!</h3>
        {{!-- {{usuario}} --}}
        <br>
        <div>
            <h2> Mis datos: </h2>
            <br>
            <div>
                <h3>Datos de la cuenta</h3>
                <ul>
                    <li>Alias: {{usuario.alias}}</li>
                    <li>Email: {{usuario.email}}</li>
                    <li>Contraseña: {{usuario.contrasena}}</li>
                    <li>Id del carrito: {{usuario.carritoID}}</li>
                </ul>
                <br>
                <h3>Datos personales</h3>
                <ul>
                    <li><img src="usuarios/{{usuario.avatar}}"></li>
                    <li>{{usuario.avatar}}</li>
                    <li>Nombre: {{usuario.nombre}}</li>
                    <li>apellido: {{usuario.apellido}}</li>
                    <li>Edad: {{usuario.edad}}</li>
                    <li>Telefono: {{usuario.telefono}}</li>
                    <li>Direccion: {{usuario.direccion}}</li>
                </ul>
            </div>
        </div>
        <br>
        <div>
            <button class="btn btn-danger" onclick="location.href='/api/autenticacion/logout'">Cerrar Sesion</button>
            <br>
            <button class="btn btn-secondary" onclick="location.href='/api/carrito/{{carritoID}}'">
                Ir a pagina de Carrito
            </button>
            <br>
            <button class="btn btn-danger" onclick="location.href='/api/chat/'"> Ir a pagina de Chat </button>
        </div>
    </div>
</div>