<div>
    <div>
        <h2> PAGINA INFO DE .ENV </h2>
        <br>
        <h3> Variables de entorno - Desarrollo: </h3>
        <ul>
            <li>Modo de ENV: {{datosDEV.modoNodeENV}}</li>
            <li>Puerto: {{datosDEV.puertoDev}}</li>
            <li>Base Datos Seleccionado: {{datosDEV.baseDatos}}</li>
            <li>URL Base Datos: {{datosDEV.urlbaseDatos}}</li>
            <li>Cluster: {{datosDEV.clusterDev}}</li>
            <li>Logger - Winston: {{datosDEV.loggerWinston}}</li>
            <li>Tiempo Expiracion de Sesion: {{datosDEV.ttlSesion}}</li>
            <li>Nombre Gmail: {{datosDEV.msjGmailNombre}}</li>
            <li>Email del Gmail: {{datosDEV.msjGmailEmail}}</li>
            <li>Contraseña Gmail: {{datosDEV.msjGmailContra}}</li>
            <li>Puerto Gmail: {{datosDEV.msjGmailPuerto}}</li>
            <li>Host Gmail: {{datosDEV.msjGmailHost}}</li>
            <li>Numero Twilio: {{datosDEV.msjWhatsNServicio}}</li>
            <li>Numero Admin: {{datosDEV.msjWhatsNroAdmin}}</li>
            <li>Id Cuenta: {{datosDEV.msjWhatsIdCuenta}}</li>
            <li>Token Autenticacion: {{datosDEV.msjWhatsTokenAuth}}</li>
        </ul>
    </div>
    <div>
        <button class="btn btn-primary" onclick="location.href='/api/env-prod'"> Ir a pagina de info .Env PROD </button>
        <br>
        <button class="btn btn-secondary" onclick="location.href='/api/'"> Ir a pagina de datos servidor </button>
    </div>
</div>