<div>
    <div>
        <h2> PAGINA INFO DE .ENV </h2>
        <br>
        <h3> Variables de entorno - Produccion: </h3>
        <ul>
            <li>Puerto: {{datosPROD.puertoProd}}</li>
            <li>Base Datos Seleccionado: {{datosPROD.baseDatos}}</li>
            <li>URL Base Datos: {{datosPROD.urlbaseDatos}}</li>
            <li>Cluster: {{datosPROD.clusterProd}}</li>
            <li>Logger - Winston: {{datosPROD.loggerWinston}}</li>
            <li>Tiempo Expiracion de Sesion: {{datosPROD.ttlSesion}}</li>
            <li>Nombre Gmail: {{datosPROD.msjGmailNombre}}</li>
            <li>Email del Gmail: {{datosPROD.msjGmailEmail}}</li>
            <li>Contraseña Gmail: {{datosPROD.msjGmailContra}}</li>
            <li>Puerto Gmail: {{datosPROD.msjGmailPuerto}}</li>
            <li>Host Gmail: {{datosPROD.msjGmailHost}}</li>
            <li>Numero Twilio: {{datosPROD.msjWhatsNServicio}}</li>
            <li>Numero Admin: {{datosPROD.msjWhatsNroAdmin}}</li>
            <li>Id Cuenta: {{datosPROD.msjWhatsIdCuenta}}</li>
            <li>Token Autenticacion: {{datosPROD.msjWhatsTokenAuth}}</li>
        </ul>
    </div>
    <div>
        <button class="btn btn-primary" onclick="location.href='/api/env-dev'"> Ir a pagina de info .Env DEV </button>
        <br>
        <button class="btn btn-secondary" onclick="location.href='/api/'"> Ir a pagina de datos servidor </button>
    </div>
</div>